@page "/locations/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAppScaffold.Models
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Location</h2>
<hr />
@if (Location is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Location" OnValidSubmit="UpdateLocation" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Location.Id" value="@Location.Id" />
                <div class="mb-3">
                    <label for="locationname" class="form-label">LocationName:</label>
                    <InputText id="locationname" @bind-Value="Location.LocationName" class="form-control" />
                    <ValidationMessage For="() => Location.LocationName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="cityname" class="form-label">CityName:</label>
                    <InputText id="cityname" @bind-Value="Location.CityName" class="form-control" />
                    <ValidationMessage For="() => Location.CityName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="countryid" class="form-label">CountryId:</label>
                    <InputNumber id="countryid" @bind-Value="Location.CountryId" class="form-control" />
                    <ValidationMessage For="() => Location.CountryId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address:</label>
                    <InputText id="address" @bind-Value="Location.Address" class="form-control" />
                    <ValidationMessage For="() => Location.Address" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/locations">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Location? Location { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Location ??= await context.Locations.FirstOrDefaultAsync(m => m.Id == Id);

        if (Location is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateLocation()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Location!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!LocationExists(Location!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/locations");
    }

    private bool LocationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Locations.Any(e => e.Id == id);
    }
}
