@page "/projecttypes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAppScaffold.Models
@using BlazorAppScaffold.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="projecttypes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ProjectTypes">
    <PropertyColumn Property="projecttype => projecttype.Type" Sortable="true" />

    <TemplateColumn Context="projecttype">
        <a href="@($"projecttypes/edit?id={projecttype.Id}")">Edit</a> |
        <a href="@($"projecttypes/details?id={projecttype.Id}")">Details</a> |
        <a href="@($"projecttypes/delete?id={projecttype.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
