@page "/costcategories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAppScaffold.Models
@using BlazorAppScaffold.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="costcategories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.CostCategories">
    <PropertyColumn Property="costcategory => costcategory.CostCategory1" />

    <TemplateColumn Context="costcategory">
        <a href="@($"costcategories/edit?id={costcategory.Id}")">Edit</a> |
        <a href="@($"costcategories/details?id={costcategory.Id}")">Details</a> |
        <a href="@($"costcategories/delete?id={costcategory.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
