@page "/rfqstatuses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAppScaffold.Models
@using BlazorAppScaffold.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="rfqstatuses/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.RfqStatuses">
    <PropertyColumn Property="rfqstatus => rfqstatus.RfqStatus1" Sortable="true" />

    <TemplateColumn Context="rfqstatus">
        <a href="@($"rfqstatuses/edit?id={rfqstatus.Id}")">Edit</a> |
        <a href="@($"rfqstatuses/details?id={rfqstatus.Id}")">Details</a> |
        <a href="@($"rfqstatuses/delete?id={rfqstatus.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAppContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }
    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
