@page "/paymentstatuses/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAppScaffold.Models
@inject IDbContextFactory<BlazorAppScaffold.Data.BlazorAppContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>PaymentStatus</h2>
<hr />
@if (PaymentStatus is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="PaymentStatus" OnValidSubmit="UpdatePaymentStatus" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="PaymentStatus.Id" value="@PaymentStatus.Id" />
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="PaymentStatus.Status" class="form-control" />
                    <ValidationMessage For="() => PaymentStatus.Status" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/paymentstatuses">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private PaymentStatus? PaymentStatus { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        PaymentStatus ??= await context.PaymentStatuses.FirstOrDefaultAsync(m => m.Id == Id);

        if (PaymentStatus is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePaymentStatus()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(PaymentStatus!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentStatusExists(PaymentStatus!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/paymentstatuses");
    }

    private bool PaymentStatusExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.PaymentStatuses.Any(e => e.Id == id);
    }
}
